<html>
    <head>
        <script>

            // var message='BlainTech';
            // Boolean =true;
            // alert(message);
            

        </script> 
        <link rel='stylesheet' type="text/css" href="style.css"> 
    </head>
    <body>
        <div class="nav-bar"></div>
        <div id="app">
            <div class="product">
                <div class="product-image">
                    <img v-bind:src="image">
                </div>
                <div class="product-info">
                    <h1>
                             {{ title }}
                    </h1>
                    <p  > {{ description }}
                       
                    </p>
                    <a :href='google'>Click here to shop</a>
                    <p v-if='Inventory >10'>In stock</p>
                    <p v-else-if='Inventory<=10 && Inventory>0'>Almost outta Stock</p>
                    <p v-else='Inventory==0' :class='{outofstock: !InStock}'>It's Gone fellas</p>
                    <p v-show='Inventory>10'>On Sale</p>
                    <ul>
                    <li v-for='detail in details'>{{detail}}</li>
                    </ul>
                    <div v-for='variant in variants' vi-bind:key='variant.variantId'
                    class="color-box"
                    v-bind:style='{backgroundColor:variant.variantcolor}'
                    v-on:mouseover='changePic(variant.variantImage)'
                    >
                        
                    </div> 
                    <button v-on:click='addToCart' 
                    :disabled='!InStock'
                    :class="{ disabledButton: !InStock}">Add to Cart</button>
                    <button v-on:click='removeFromCart' 
                    :disabled='!InStock'
                    :class='{disabledButton: !InStock}'>Remove from Cart</button>
                    <div class="cart">Cart{{cart}}</div>
                </div>

  
            </div>

           
            
        </div>
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <script src="main.js"></script>
        
    </body>
</html>